.button {
    -fx-background-color: #FF9900;
}

/*.upsize-button {*/
/*    -fx-font-size: 40px;*/
/*}*/
.element{
    -fx-background-color: #FFFFFF;
}
.element:hover {
    -fx-background-color: #FFA500;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.search-box{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
    -fx-border-color: #D7D7D7;
    -fx-border-radius: 100;
}

.search-button{
    -fx-background-color: #FF9900;
    -fx-background-radius: 30;
}

.navigation-list{
    -fx-background-color: #DCDCDC;
}

.navigation-button{
    -fx-background-color: rgba(0,0,0,0);
}

.navigation-button:hover{
    -fx-background-color: #F5F5F5;
}

.selected_navigation-button{
    -fx-background-color: #F5F5F5;
}

.radius{
    -fx-background-radius: 30;
    -fx-border-radius: 30;
}

.my-message-box{
    -fx-background-color: #FF9900;
    -fx-background-radius: 15;
    -fx-background-insets: -5;
    -fx-border-insets: -5;
    -fx-border-color: #FF9900;
    -fx-border-radius: 15;
}

.other-message-box{
    -fx-background-color: rgba(0,0,0,0);
    -fx-background-radius: 15;
    -fx-background-insets: -5;
    -fx-border-insets: -5;
    -fx-border-color: #D7D7D7;
    -fx-border-radius: 15;
}